:root {
	--font-size-base: 16px;
	--font-size-small: 12px;
	--font-size-medium: 24px;
	--font-size-large: 36px;

	--font-primary: 'Jost';
	--font-header: 'jsMath';

	--color-text-color: #333333;
	--color-background: #f4f0e5;
	
	--color-variation-1: #76b041;
	--color-variation-2: #a1cc7a;
	--color-variation-3: #4d8031;
	--color-variation-4: #eee4ca;

	--spacing-xsmall: 0.1rem;
	--spacing-small: 1rem;
	--spacing-medium: 1.5rem;
	--spacing-large: 2rem;
	--spacing-xlarge: 5rem;
}